.crystal-image{
    width: 150px;
    height: 150px;
    margin: 5px;

}
img{
    float: left;
    background-color: aquamarine;
}
.crystal-image{
    align-content: center;
    background-color: aquamarine;
}
body{
    background-color: aquamarine;
}